body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
  margin: 0px;
}
.header-section {
  width: 100%;
}
.header,
.footer {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.header-top {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  flex: 1;
}

.header-links {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: 18px;
}

.header-main {
  display: flex;
  margin: 140px 0;
  justify-content: space-between;
}

.header-main-left {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  flex: 1 0 1;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-image {
  width: 800px;
  height: 200px;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  padding: 4px 24px;
  margin-top: 10px;
}
.info {
  margin-bottom: 100px;
}
.info-top {
  text-align: center;
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
  margin: 50px;
}

.info-cards {
  display: flex;
  gap: 60px;
}
.info-card {
  display: flex;
  flex-direction: column;
  width: 150px;
  color: #767676;
}
.info-image {
  width: 150px;
  height: 180px;
  border: #3882f6 4px solid;
  border-radius: 10px;
  margin-bottom: 10px;
}
.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  width: 100%;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1f2937;
  width: 700px;
}
.quote-author {
  text-align: end;
  color: #1f2937;
  font-weight: 800;
  font-size: 20px;
  margin-top: 8px;
}
.quote-container {
  margin: 100px 0;
  padding: 0 30%;
}
.cta-container {
  display: flex;
  background-color: #3882f6;
  padding: 50px 100px;
  margin: 100px;
  border-radius: 10px;
  align-items: center;
}
.cta-main-text,
.cta-secondary-text {
  color: #e5e7eb;
}
.cta-main-text {
  font-weight: bold;
  font-size: 24px;
}
.cta-secondary-text {
  font-size: 18px;
}
.cta-button {
  border-radius: 10px;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 3px white solid;
  font-size: 20px;
  font-weight: bold;
  margin-left: 200px;
  padding: 6px 30px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 30px 0;
  color: #e5e7eb;
}
